:host {
  text-align: center;

  .container {
    position: relative;

    ion-card {
      ion-card-header {
        ion-card-subtitle {
          color: red;
        }
      }
      ion-card-content {
        ion-button {
          margin-top: 2%;
        }
      }
    }
  }
}
