:host{
  text-align: center;

  #container {
    position: relative;

    ion-card {
      margin: 0;
      padding: 10px;
    }

    ion-item.ion-activated{
      cursor: pointer;
    }
  }

  ion-content ion-toolbar {
    --background: translucent;
  }
}
