<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WebMobile - Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngIf="enrPicture">
  <ion-card-header>
    <ion-card-title>Galerie</ion-card-title>
    <ion-card-subtitle>Photo prise durant la preview</ion-card-subtitle>
  </ion-card-header>
  <ion-item>
    <img [src]="enrPicture">
  </ion-item>
</ion-card>

<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button routerLink="/home" (click)="endCamera()">
      <ion-icon name="home" size="large"></ion-icon>
      <ion-label>Go Back Home</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Take Picture</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="endCamera()">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Close Camera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
