:host {
  --ion-background-color: transparent;
  --ion-text-color: white;
  text-align: center;

  ion-card {
    ion-card-title, ion-card-subtitle {
      color: white;
    }
  }

  ion-tabs {
    ion-tab-bar {
      ion-icon {
        color: white;
        fill: white;
      }

      ion-label {
        color: white;
      }
    }
  }
}
